---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/header.astro';
---

<Layout title="Carlos Gallaga Portfolio" description='¡Hola! Soy Carlos Gallaga, un apasionado diseñador gráfico especializado en UI/UX, y este es mi portafolio digital. Aquí podrás explorar y descubrir más sobre mis proyectos y habilidades.'>
	<Navbar />
	<main>
        <section class="grid place-content-center h-[100vh]">
            <h1 class="text-white text-[36px] font-bold mx-auto text-center">
                ¡Whoops! It looks like this page doesn't exist. 
            </h1>
            <p class="text-white text-[36px] font-bold mx-auto">
                :(
            </p>
            <button class="mt-5 bg-[#BFBFBF]/10 py-[10px] px-5 w-fit mx-auto text-white rounded-[50px] uppercase hover:scale-125 transition-all text-center"><a class="text-center" href="/">Back to home</a></button>
        </section>
    </main>
</Layout>

<style>
    @media (max-width: 809px) {
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 24px;
        }
        a {
            font-size: 13px;
            padding: 8px 16px;
        }
        button:hover {
            transform: scale(1.15);
        }
        
    }
</style>


