---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/header.astro';
---

<Layout title="Carlos Gallaga Portfolio" description='¡Hola! Soy Carlos Gallaga, un apasionado diseñador gráfico especializado en UI/UX, y este es mi portafolio digital. Aquí podrás explorar y descubrir más sobre mis proyectos y habilidades.'>
	<Navbar />
	<main>
		<Header />
	</main>
</Layout>


