---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/header.astro';
import About from '../components/about.astro';
import CardWork from '../components/cardWork.astro';
import Contact from '../components/contact.astro';
import Footer from '../components/footer.astro';
const allWorks = await Astro.glob('./blog/*.md');
---

<Layout title="Carlos Gallaga Portfolio" description='¡Hola! Soy Carlos Gallaga, un apasionado diseñador gráfico especializado en UI/UX, y este es mi portafolio digital. Aquí podrás explorar y descubrir más sobre mis proyectos y habilidades.'>
	<Navbar />
	<Header />
	
	<main id="projects" class="px-5">
		<div class="flex justify-between work-sec mb-[30px]">
			<h2 class="font-semibold text-white text-[32px] tracking-[-.04em] uppercase">Highlighted Works </h2>
			<p class="font-semibold text-white text-[32px] tracking-[-.04em] uppercase">(2023 - 2024)</p>
		</div>
		<section class="work-lay grid grid-cols-2 grid-rows-3 gap-5 border-b-[1px] pb-[30px] border-b-[#333333]">

			{
				allWorks.map((work) => <CardWork frontmatter={work.frontmatter} url={work.url} />)
			} 
		</section>

		<About />

		<Contact />
	</main>

	<Footer />

</Layout> 

<style>
	@media (max-width: 1199px) {
		.work-sec p, h2 {
			font-size: 28px
		}
	}

	@media (max-width: 809px) {
		main {
			padding: 0 15px;
		}
		.work-sec {
			flex-direction: column;
			h2 {
				overflow: hidden;
			}
		}
		.work-sec p, h2 {
			font-size: 24px;
		}
		.work-lay {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
</style>


