<header class="px-5 border-b-">
    <div class="txt-mob">
        <h1 class="text-[80px] font-semibold tracking-[-.04em] uppercase text-white w-fit role">Web Designer</h1>
        <div class="bg-[#161616] border-[1px] border-[#262626] flex items-center gap-[10px] rounded-[26px] w-fit py-[5px] px-[17px] ">
            <div class="bg-[#20E63A]  w-[9px] h-[9px] rounded-full"></div>
            <p class="text-[#C0C0C0] text-[13px] leading-[1.2em] uppercase status">Available for work</p>
        </div>
    </div>
    <div class="flex mt-[60px]  introduction-sec">
        <div class="w-[20%]">
            <p class="text-[#B3B3B3] text-[16px] uppercase intro-hd">Introduction</p>
        </div>
        
        <p class="text-white text-lg max-w-[460px] leading-[1.2em] tracking-[-.04em] intro-txt">Welcome to my portfolio. Here you will find everything about me, my work and services, where each design represents a carefully elaborated solution.</p>
    </div>


    <div class="border-b-[1px] w-full border-[#333333] my-[30px]"></div>
</header>


<style>
    @media (max-width: 1199px) {
        .role {
            font-size: 64px;
        }
    }


    @media (max-width: 809px) {
        header {
            padding-left: 15px;
            padding-right: 15px;
        }
        .txt-mob {
            overflow: hidden;
        }
        .role {
            font-size: 46px;
        }
        .status {
            font-size: 11px;
        }
        .introduction-sec {
            flex-direction: column;
        }
        .intro-hd {
            font-size: 14px;
        }
        .intro-txt {
            font-size: 16px;
            margin-top: 20px;
            max-width: 100%;
        }
    }

    @media (max-width: 262px) {
        .role {
            font-size: 36px;
        }
    }

</style>