@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .nav-link:hover {
        color: #e63e21;
    }

    .nav-link-active {
        color: #e63e21;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    textarea:focus,
    input:focus {
        outline: none;
    }

    textarea {
        resize: none;
    }
}