---
import '@fontsource-variable/inter';
interface Props {
	title: string;
	description: string;
}

import { ViewTransitions } from 'astro:transitions';

const { title, description } = Astro.props;

const { currentLocale } = Astro
console.log({currentLocale});

import { getLangFromUrl } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/LogoPNG-11.png"/>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background: #0F0F0F;
		background-size: 224px;
		scroll-behavior: smooth;
	}

	body {
		padding-top: 60px;
	}
</style>
